<%= link_to 'All Players', "/players" %>
<%= link_to 'All Teams', "/basketball_teams" %>


<h1>Basketball Teams</h1>
<ul>
    <% @basketball_teams.each do |team| %>
        <li><%= team.name %></li>
    <% end %>
</ul>
